<div class="card">
  <h2>Translations</h2>
  <div class="list-grid">
    <div class="header">
      German
      <img src="assets/filter.png" alt="Filter" class="icon" (click)="toggleFilter('german')" />
      <img src="assets/sort.png" alt="Sort" class="icon" (click)="sortBy('german')" />
    </div>
    <div class="header">
      Vietnamese
      <img src="assets/filter.png" alt="Filter" class="icon" (click)="toggleFilter('vietnamese')" />
      <img src="assets/sort.png" alt="Sort" class="icon" (click)="sortBy('vietnamese')" />
    </div>
    <div class="header" style="min-width: 32px"></div>
    <div class="header" style="min-width: 32px"></div>

    <div *ngIf="isFiltering && filterField != 'german'" class="filter-cell"></div>
    <div *ngIf="isFiltering && filterField === 'german'" class="filter-cell">
      <input [(ngModel)]="filterText" placeholder="Filter German..." (input)="applyFilter()" />
      <button class="filter-clear" (click)="clearFilter()">Clear</button>
    </div>
    <div *ngIf="isFiltering && filterField != 'vietnamese'" class="filter-cell"></div>
    <div *ngIf="isFiltering && filterField === 'vietnamese'" class="filter-cell">
      <input [(ngModel)]="filterText" placeholder="Filter Vietnamese..." (input)="applyFilter()" />
      <button class="filter-clear" (click)="clearFilter()">Clear</button>
    </div>
    <div *ngIf="isFiltering" class="filter-cell"></div>
    <div *ngIf="isFiltering" class="filter-cell"></div>

    <div *ngFor="let pair of filteredPairs" class="row">
      <div *ngIf="editingPair?.id !== pair.id; else editGerman">{{ pair.german }}</div>
      <ng-template #editGerman>
        <input
          class="edit-input"
          [(ngModel)]="editingPair!.german"
          (blur)="onSaveEdit(pair)"
        />
      </ng-template>
      <div *ngIf="editingPair?.id !== pair.id; else editVietnamese">{{ pair.vietnamese }}</div>
      <ng-template #editVietnamese>
        <input
          class="edit-input"
          [(ngModel)]="editingPair!.vietnamese"
          (blur)="onSaveEdit(pair)"
        />
      </ng-template>

      <div>
        <button
          *ngIf="editingPair?.id !== pair.id; else saveButton"
          class="icon-btn"
          (click)="onEdit(pair)"
        >
          <img src="assets/edit.png" alt="Edit" />
        </button>
        <ng-template #saveButton>
          <button class="icon-btn" (click)="onSaveEdit(pair)">
            <img src="assets/accept.png" alt="Save" />
          </button>
        </ng-template>
      </div>

      <div>
        <button class="icon-btn" (click)="onDelete(pair.id)">
          <img src="assets/delete.png" alt="Delete" />
        </button>
      </div>
    </div>
  </div>

</div>
